/*=======================================================
Base Styles
=======================================================*/
*, 
*:after,
*:before {
  	box-sizing: border-box;
}

body {
	font-size: 13px;
	margin: 0 auto;
	max-width: 1440px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: #171823;
}

h1 {
	color: #fff;
	font-weight: 700;
}

main {
	width: 85%;
	margin: 0 auto;
}

/*=======================================================
Helper Styles
=======================================================*/
.inner {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=======================================================
Background Image Styles
=======================================================*/
.background-image {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	z-index: -1;
	max-width: 1440px;
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../images/bg-mobile-dark.jpg");
}

/*=======================================================
Header Styles
=======================================================*/
.header {
	width: 85%;
	max-width: 540px;
	margin: 0 auto;
	padding-top: 2.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
} 
	.header__logo {
		font-size: 1.68rem;
		letter-spacing: 10px;
	}

/*=======================================================
Add Todo Styles
=======================================================*/
.add-item {
	margin: 0 auto;
	max-width: 540px;
	border-radius: 10px;
	background-color: #25273d;
}
	.add-item__text {
		width: 80%;
		border: 0;
		outline: 0;
		color: #fff;
		height: 50px;
		font-size: 1rem;
		background-color: transparent;
	} 
	.add-item__text::placeholder {
		color: #767992;
		font-size: 1rem;
	}
	.add-item__button {
		fill: #767992;
	}

/*=======================================================
Media Queries
=======================================================*/
@media only screen and (min-width: 540px) {
	body {
		font-size: 18px;
	}

	.background-image {
		height: 275px;
		background-image: url("../images/bg-desktop-dark.jpg");
	}

	.header__logo {
		font-size: 2.479rem;
		letter-spacing: 10px;
	}

	.add-item__text {
		height: 60px;
	} 
}