.create-todo {
	border-radius: 10px;
    @extend %items;
	&__text {
		width: 80%;
		border: 0;
		outline: 0;
		color: var(--primary-text-color);
		height: 60px;
		font-size: 1rem;
		background-color: transparent;
	}
	&__text::placeholder {
		font-size: 1rem;
		color: var(--secondary-text-color);
	}
	&__button {
		cursor: pointer;
		fill: var(--secondary-text-color);
	}
}


	