.create-todo {
	max-width: 540px;
	border-radius: 10px;
	background-color: var(--dark-items-bg-color);
    @extend %center;
	&__text {
		width: 80%;
		border: 0;
		outline: 0;
		color: var(--dark-text-color);
		height: 50px;
		font-size: 1rem;
		background-color: transparent;
	}
	&__text::placeholder {
		font-size: 1rem;
		color: var(--dark-placeholder-text);
	}
	&__button {
		fill: var(--dark-complete-text);
	}
}


	