.todo {
    display: flex;
	height: 60px;
	@extend %items;
    &-inner {
        width: 92%;
        display: flex;
        align-items: center;
        @extend %center;
        &:hover {
            cursor: pointer;
        }
        // svg {
        //     display: none;
        // }
    }
    &__checkbox {
        width:  26px;
        height: 26px;
        margin-right: 10px;
        border-radius: 50%;
        border: 2px solid var(--accent-color);
        justify-content: center;
        @extend %flex-ai-c;
        // background: linear-gradient(to bottom right, #55DDFF, #c058f3); // will maybe be applied in javascript with a class
        &:hover {
            // cursor: pointer;
            // border: double 2px transparent;
            // background-origin: border-box;
            // background-clip: content-box, border-box;
            // background-image: linear-gradient(var(--items-bg-color), var(--items-bg-color)), radial-gradient(circle at top left, #55DDFF,#c058f3);
        }
        svg {
            display: none;
        }
       
    }
    &__text {
        width: 78%;
        margin-top: 19px;
        font-size: 1rem;
		color: var(--primary-text-color);
        overflow: hidden; 
        white-space: nowrap;
        text-overflow: ellipsis;
        @media only screen and (min-width: 375px) {
            width: 83%;
        }
        @media only screen and (min-width: 540px) {
            width: 88%;
        }
	}
    &__icon {
 
        margin-left: auto;
        &:hover {
            cursor: pointer;
        }
    }

    button {
        width: 18px;
        height: 18px;
    }
}






