/*=======================================================
Add Todo Styles
=======================================================*/
.add-item {
	margin: 0 auto;
	max-width: 540px;
	border-radius: 10px;
	background-color: #25273d;
}
	.add-item__text {
		width: 80%;
		border: 0;
		outline: 0;
		color: #fff;
		height: 50px;
		font-size: 1rem;
		background-color: transparent;
	} 
	.add-item__text::placeholder {
		color: #767992;
		font-size: 1rem;
	}
	.add-item__button {
		fill: #767992;
	}