@mixin reset {
    margin-left:  auto;
    margin-right: auto;
}

%center {
    margin-left:  auto;
    margin-right: auto;
}

%flex-ai-jc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-ai-c {
    display: flex;
    align-items: center;
}


%width90 {
    width: 90%;
}
