%center {
    margin-left:  auto;
    margin-right: auto;
}

%flex-ai-jc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%flex-ai-c {
    display: flex;
    align-items: center;
}


%width90 {
    width: 90%;
}

%max-width-540 {
    max-width: 540px;
}

%items {
    @extend %center;
    @extend %max-width-540;
    background-color: var(--dark-items-bg-color);
}
