// Very Dark Blue:             #161722
// Very Dark Desaturated Blue: #25273c
// Light Grayish Blue: 	       #cacde8
// Light Grayish Blue (hover): #e4e5f1
// Dark Grayish Blue:          #777a92
// Very Dark Grayish Blue: 	   #4d5066
// Very Dark Grayish Blue:     #393a4c

:root {
	--dark-bg-color:        #161722;
	--dark-items-bg-color:  #25273c;
	--dark-text-color:      #cacde8; // and hover
	--dark-placeholder-text:#777a92;
	--dark-complete-text:   #4d5066;
}

/*=======================================================
Base Styles
=======================================================*/
*, 
*:after,
*:before {
  	box-sizing: border-box;
}

body {
	font-size: 13px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--dark-bg-color);
}

h1 {
	color: #fff;
	font-weight: 700;
}

main {
	width: 85%;
	margin: 0 auto;
}

/*=======================================================
Helper Styles
=======================================================*/
.wrapper {
	max-width: 1440px;
	@extend %center;
}

.inner {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=======================================================
Media Queries
=======================================================*/
@media only screen and (min-width: 540px) {
	body {
		font-size: 18px;
	}
}