/*=======================================================
Variables
=======================================================*/
:root {
	--bg-color:            #161722;
	--items-bg-color:      #25273c;
	--primary-text-color:  #cacde8;
	--secondary-text-color:#777a92;
	--accent-color:        #494C6B;
	--mobile-bg:  url("../images/bg-mobile-dark.jpg");
	--desktop-bg: url("../images/bg-desktop-dark.jpg");
}

/*=======================================================
Base Styles
=======================================================*/
*, 
*:after,
*:before {
  	box-sizing: border-box;
}

body {
	margin-bottom: 10em;
	font-size: 13px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--bg-color);
	@media only screen and (min-width: 540px) {
		font-size: 18px;
	}
}

h1 {
	color: #fff;
	font-weight: 700;
}

h5 {
	font-size: 1rem;
	margin-top: 7.5em;
	text-align: center;
	color: var(--secondary-text-color);
	@media only screen and (min-width: 540px) {
		margin-top: 3em;
	}
}

main {
	@extend %center;
	@extend %width90;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul > :first-child {
	border-radius: 10px 10px 0 0;
}

ul > :last-child {
	border-radius: 0 0 10px 10px;
}

li:not(:last-of-type)  {
	border-bottom: 1px solid var(--accent-color);
}

/*=======================================================
Helper Styles
=======================================================*/
.wrapper {
	max-width: 1440px;
	@extend %center;
}

.inner {
	width: 92%;
	@extend %center;
	@extend %flex-ai-jc;
}

.active {
	color: #3A7CFD;
}


button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}