// Very Dark Blue:             #161722
// Very Dark Desaturated Blue: #25273c
// Light Grayish Blue: 	       #cacde8
// Light Grayish Blue (hover): #e4e5f1
// Dark Grayish Blue:          #777a92
// Very Dark Grayish Blue: 	   #4d5066
// Very Dark Grayish Blue:     #393a4c

:root {
	--dark-bg-color:        #161722;
	--dark-items-bg-color:  #25273c;
	--dark-text-color:      #cacde8; // and hover
	--dark-placeholder-text:#777a92;
	--dark-complete-text:   #4d5066;
}

/*=======================================================
Base Styles
=======================================================*/
*, 
*:after,
*:before {
  	box-sizing: border-box;
}

body {
	font-size: 13px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--dark-bg-color);
	@media only screen and (min-width: 540px) {
		font-size: 18px;
	}
}

h1 {
	color: #fff;
	font-weight: 700;
}

main {
	@extend %center;
	@extend %width90;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul > :first-child {
	border-radius: 10px 10px 0 0;
}

ul > :last-child {
	border-radius: 0 0 10px 10px;
}



li:not(:last-of-type)  {
	border-bottom: 1px solid #393a4c;
}

/*=======================================================
Helper Styles
=======================================================*/
.wrapper {
	max-width: 1440px;
	@extend %center;
}

.inner {
	width: 92%;
	@extend %center;
	@extend %flex-ai-jc;
}
